<mat-toolbar  color="primary" class="mat-elevation-z7">
    <fa-icon [icon]="faGuitarIcon"></fa-icon>
    <span>Chord Bank</span>

    <span class="header-spacer"></span>

    <div *ngIf="user; else loggedOut">
    
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Hello {{user.firstName}} </span>
        <img width="40" class="img-profile rounded-circle" src="{{user.photoUrl}}">
        
        <button mat-button  [matMenuTriggerFor]="menu" aria-label="User Dropdown Options">
            <mat-icon mat-icon >menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="signOutWithGoogle()">
                <mat-icon mat-icon >login</mat-icon>
                <span>Sign Out</span>
            </button>
        </mat-menu>
        
    </div>
        
    <ng-template #loggedOut>

        <button mat-raised-button (click)="signInWithGoogle()" color="warn">
            <fa-icon [icon]="faGoogleIcon"></fa-icon>
            Sign in
        </button>
    
    </ng-template>

</mat-toolbar>