/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.limited-padding .mat-expansion-panel-body {
    padding: 3px;
    background: #ced9ff59;
}

.limited-padding .mat-card {
    padding: 10px;
}

.mat-card {
    background:  #dde2ff40;
}