<mat-card *ngIf="progOptions" class="expanded-margin-bottom">
    <mat-card-header>
        <mat-card-title>Pick your Chords</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-vertical-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>{{questionOptions[0]}}</ng-template>
                <mat-selection-list #optionsGenre>
                    <mat-list-option *ngFor="let genreOption of progOptions.genres" [value]="genreOption">
                        {{genreOption}}
                    </mat-list-option>
                </mat-selection-list>
                <div class="stepper-buttons">
                    <button mat-raised-button color="primary" matStepperNext (click)="recordOption(optionsGenre.selectedOptions.selected, 'genre' )">Next</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{questionOptions[1]}}</ng-template>
                <mat-selection-list #optionsKey>
                    <mat-list-option *ngFor="let keyOption of progOptions.keys" [value]="keyOption">
                        {{keyOption}}
                    </mat-list-option>
                </mat-selection-list>
                <div class="stepper-buttons">
                    <button mat-button color="primary" matStepperPrevious>Previous</button>
                    <button mat-raised-button color="primary" matStepperNext (click)="recordOption(optionsKey.selectedOptions.selected, 'key' )">Next</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Once get progressions has been clicked, progressions can be found below</p>
                <div class="stepper-buttons">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-raised-button color="primary" (click)="getProgressions()">Get Progressions</button>
                </div>
              </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
</mat-card>

<div *ngIf="chordProgressions.length > 0" class="expanded-margin-bottom">
    <mat-accordion>
        <div *ngFor="let genreChosen of chosenFilter.genresChosen; let indexOfitem = index">

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{genreChosen.value}} progressions</mat-panel-title>
                    <mat-icon>album</mat-icon>
                </mat-expansion-panel-header>
                <div>
                    <mat-accordion>
                        <div *ngFor="let keyChosen of chosenFilter.keysChosen">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Progressions in the key of {{keyChosen.value}}</mat-panel-title>
                                    <mat-icon>library_music</mat-icon>
                                </mat-expansion-panel-header>
        
                                <div *ngFor="let progressionInstance of chordProgressions | filterKey: keyChosen">
            
                                    <div *ngIf="genreChosen.value == progressionInstance.genre">
                                        <app-chord-progression [progression]="progressionInstance"></app-chord-progression>
                                    </div>
                
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>