<mat-card *ngIf="progOptions">
    <mat-card-header>
        <mat-card-title>Pick your Chords</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-vertical-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>{{questionOptions[0]}}</ng-template>
                <mat-selection-list #optionsGenre>
                    <mat-list-option *ngFor="let genreOption of progOptions.genres" [value]="genreOption">
                        {{genreOption}}
                    </mat-list-option>
                </mat-selection-list>
                <div class="stepper-buttons">
                    <button mat-raised-button color="primary" matStepperNext (click)="recordOption(optionsGenre.selectedOptions.selected, 'genre' )">Next</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{questionOptions[1]}}</ng-template>
                <mat-selection-list #optionsKey>
                    <mat-list-option *ngFor="let keyOption of progOptions.keys" [value]="keyOption">
                        {{keyOption}}
                    </mat-list-option>
                </mat-selection-list>
                <div class="stepper-buttons">
                    <button mat-button color="primary" matStepperPrevious>Previous</button>
                    <button mat-raised-button color="primary" matStepperNext (click)="recordOption(optionsKey.selectedOptions.selected, 'key' ); getProgressions();">Get Progressions</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Progressions can be found below!</p>
                <div class="stepper-buttons">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
</mat-card>

<p *ngIf="progressionMap.size == 0"><em>No progressions so far ...</em></p>

<div *ngIf="progressionMap.size != 0" >
    <div *ngFor="let mapKey of progressionMap.keys()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{mapKey}} progressions</mat-card-title>
            </mat-card-header>
            <div *ngFor="let progressionInstance of progressionMap.get(mapKey)">

                    <mat-card-content>
                        <mat-accordion class="accordian-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{progressionInstance.progressionStructure}} progression</mat-panel-title>
                                    <mat-icon>album</mat-icon>
                                </mat-expansion-panel-header>
                                <app-chord-progression [progression]="progressionInstance"></app-chord-progression>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>

            </div>
        </mat-card>
    </div>
</div>